---
layout: index
title: I'm Long!
tagline: Welcome to my page!
tags : [portfolio, components]
img : 
img-mobile :
css: 
js: portfolio.js
keywords: longtanle, components, demo
canonical: https://longtanle.github.io
---
{% include JB/setup %}
<!-- Content Area Start -->
<div id="content">
      <div class="header-style-2">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="hero-content-v2">
                <h3>Welcome to my page<strong>To Live Long Life!</strong></h3>
                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer
                </p>
                <a href="#" class="page-scroll btn btn-lg btn-default-filled">Discover</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <figure>
                <img src="{{ BASE_PATH }}/assets/images/bg/logo.png" alt="">
              </figure>
            </div>

          </div>
        </div>
      </div>
                        
            
      <div class="mb-60"></div>
    	<div id="features" class="container">
    	<!-- SERVICES -->
        <h4 class="sub-title space-left">
          <span>About</span>
        </h4>
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="about block text-center">
              <img src="{{ BASE_PATH }}/assets/images/about/img1.png" alt="">
              <h5><a href="#">About me</a></h5>
              <p>Quisque sit amet libero purus. Nulla a dignissim quam. In hac habitasse platea dictumst.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="about block text-center">
              <img src="{{ BASE_PATH }}/assets/images/about/img2.png" alt="">
              <h5><a href="#">Research</a></h5>
              <p>Quisque sit amet libero purus. Nulla a dignissim quam. In hac habitasse platea dictumst.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="about block text-center">
              <img src="{{ BASE_PATH }}/assets/images/about/img3.png" alt="">
              <h5><a href="#">Curriculum Vitae</a></h5>
              <p>Quisque sit amet libero purus. Nulla a dignissim quam. In hac habitasse platea dictumst.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="about block text-center">
              <img src="{{ BASE_PATH }}/assets/images/about/img4.png" alt="">
              <h5><a href="#">Contact</a></h5>
              <p>Quisque sit amet libero purus. Nulla a dignissim quam. In hac habitasse platea dictumst.</p>
            </div>
          </div>
        </div>
	    </div>
	
      <div class="mb-60"></div>

      <!-- Portfolio Section -->
      <section id="portfolio" class="section">
        <!-- Container Starts -->
        <div class="container">
          <h4 class="sub-title space-left">
            Gallery
          </h4>
          <div class="row">
            <div class="col-md-12">
              <!-- Portfolio Controller/Buttons -->
              <div class="controls text-center wow fadeInUpQuick" data-wow-delay=".6s">
                <a class="filter active btn btn-common" data-filter="all">
                  All 
                </a>
                <a class="filter btn btn-common" data-filter=".branding">
                  Cat 1 
                </a>
                <a class="filter btn btn-common" data-filter=".marketing">
                  Cat 2
                </a>
                <a class="filter btn btn-common" data-filter=".planning">
                  Cat 3 
                </a>
                <a class="filter btn btn-common" data-filter=".research">
                  Cat 4 
                </a>
              </div>
              <!-- Portfolio Controller/Buttons Ends-->
            </div>

            <!-- Portfolio Recent Projects -->
            <div id="portfolio" class="row wow fadeInUpQuick" data-wow-delay="0.8s">
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{{ BASE_PATH }}/assets/images/portfolio/img1.jpg" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>TITLE HERE</h4>
                          </a>
                          <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix branding planning">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{{ BASE_PATH }}/assets/images/portfolio/img2.jpg" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>TITLE HERE</h4>
                          </a>
                          <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix branding research">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{{ BASE_PATH }}/assets/images/portfolio/img3.jpg" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>TITLE HERE</h4>
                          </a>
                          <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing research">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{{ BASE_PATH }}/assets/images/portfolio/img4.jpg" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>TITLE HERE</h4>
                          </a>
                          <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{{ BASE_PATH }}/assets/images/portfolio/img5.jpg" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>TITLE HERE</h4>
                          </a>
                          <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning research">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{{ BASE_PATH }}/assets/images/portfolio/img6.jpg" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>TITLE HERE</h4>
                          </a>
                          <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Container Ends -->
      </section>
      <!-- Portfolio Section Ends -->

      <div class="mb-60"></div>
      <div class="container">
        <h4 class="sub-title space-left">Blogs</h4>
      </div>

      <!-- posts carousel -->
      <!--
      <section id="blog">
        <div class="container">                              
          <div id="posts-carousel" class="owl-carousel">
           {% for post in site.posts %}     
            <div class="blog-block blog block carousel-post">
             {% if post.img %}           
              <img src="{{ BASE_PATH }}/assets/images/{{ post.img }}" alt="">
             {% endif %}           
              <h5>{{ post.title }}</h5>
              <p>{{ post.excerpt }}</p>
              <a href="{{ BASE_PATH }}{{ post.url }}">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
           {% endfor %}     
          </div>              
        </div>
      </section>
      -->

      <!-- Start Blog Section 1 -->
      <section class="blog">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
              <!-- Blog Item Starts -->
              <div class="blog-item-wrapper">
                <div class="blog-item-img">
                  <a href="single-post.html"><img src="{{ BASE_PATH }}/assets/images/blog/home/img1.jpg"></a>
                </div>
                <div class="blog-item-text">
                  <h3>
                    <a href="#">Social media and Slack</a>
                  </h3>
                  <div class="meta-tags">
                    <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 23, 2017</span>
                    <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                  </p>
                  <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                </div>
              </div>
              <!-- Blog Item Wrapper Ends-->
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
              <!-- Blog Item Starts -->
              <div class="blog-item-wrapper">
                <div class="blog-item-img">
                  <a href="single-post.html"><img src="{{ BASE_PATH }}/assets/images/blog/home/img2.jpg"></a>
                </div>
                <div class="blog-item-text">
                  <h3>
                    <a href="#">Content is still king</a>
                  </h3>
                  <div class="meta-tags">
                    <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 29, 2017</span>
                    <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                  </p>
                  <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                </div>
              </div>
              <!-- Blog Item Wrapper Ends-->
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
              <!-- Blog Item Starts -->
              <div class="blog-item-wrapper">
                <div class="blog-item-img">
                  <a href="single-post.html"><img src="{{ BASE_PATH }}/assets/images/blog/home/img3.jpg"></a>
                </div>
                <div class="blog-item-text">
                  <h3>
                    <a href="#">How often should you tweet?</a>
                  </h3>
                  <div class="meta-tags">
                    <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 21, 2017</span>
                    <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                  </p>
                  <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                </div>
              </div>
              <!-- Blog Item Wrapper Ends-->
            </div>
          </div>
        </div>
      </section>
      <!-- End Blog Section 1 -->

    <!--  
      <div class="mb-60"></div>
      <div class="container">
        <h4 class="sub-title space-left">Google AD Sense sample</h4>
      </div>	


	 <div class="container">
	      {% include ads-block.html %}
	 </div>		
    -->
    <!--
      <div class="mb-60"></div>	
      <div id="counter">
        <div class="container">
          <h4 class="sub-title">Counters</h4>
          <div class="row count-to-sec">
            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-download"> </i></span>
              <h3 class="timer count-value" data-to="561" data-speed="1000">561</h3>
              <hr class="width25-divider">
              <small class="count-title">Downloads</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-user"> </i></span>
              <h3 class="timer count-value" data-to="950" data-speed="1000">950</h3>
              <hr class="width25-divider">
              <small class="count-title">Developers</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-desktop"> </i></span>
              <h3 class="timer count-value" data-to="978" data-speed="1000">978</h3>
              <hr class="width25-divider">
              <small class="count-title">Lines of code written</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-coffee"> </i></span>
              <h3 class="timer count-value" data-to="1700" data-speed="1000">1700</h3>
              <hr class="width25-divider">
              <small class="count-title">Cups of coffee consumed</small>
            </div>
          </div>
        </div>
      </div>
    -->
            
      <!-- CONTACT FORM -->     
    	<div class="container">
      	<div class="row">	      
          <div class="col-md-8">
            <h3 class="title-head text-center">Get in touch</h3>
            <form class="contact-form" data-toggle="validator">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-user"></i>
                    <input type="text" class="form-control" id="name" placeholder="Full Name" required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-envelope-o"></i>
                    <input type="email" class="form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-pencil-square-o"></i>
                    <input type="text" class="form-control" id="subject" placeholder="Subject" required data-error="Please enter your Subject">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea id="message" rows="8" placeholder="Message" required data-error="Please enter your message"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">Send Message</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-4">
            <h4 class="contact-info-title">Contact Information</h4>
            <div class="contact-info">
              <address>
    					<i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
    					Ho Chi Minh City University of Technology,
    					<br>
    					268 Ly Thuong Kiet St, Ward 14, District 10
              <br> 
              Ho Chi Minh City 700000, Vietnam
    				</address>
              <div class="tel-info">
                <a href="tel:+84 (38) 555 3645"><i class="fa fa-mobile icons cyan-color contact-info-icon"></i>+84 (38) 555 3645</a>
              </div>
              <a href="mailto:tanlong.ce@gmail.com"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i>tanlong.ce@gmail.com</a>
              <a href="https://longtanle.github.io"><i class="fa fa-tablet icons cyan-color contact-info-icon"></i>https://longtanle.github.io</a>
              {% include social-block.html %}
            </div>
          </div>
        </div>
    	</div>

      <div class="mb-60"></div>
            
            
<!-- Content area end -->
</div>
